#screen {
  background-color: #cceabb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 150vh;
}

.greeting {
  width: 80%;
  font-size: 2.5em;
  font-family: sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 1em;
  color: white;
  background-color: #3f3f44;
  text-shadow: 0 0 5px #333;
  text-align: center;
  margin: 0.5em;
  padding: 0.4em;
  box-sizing: border-box;
  letter-spacing: 2px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.greeting span {
  animation: fadeIn 2.5s ease-in-out;
}

.tweet {
  width: 80%;
  height: 240px;
  padding: 15px;
  background-color: #f7f7f7;
  box-sizing: border-box;
}

.tweet__box {
  display: flex;
  flex-direction: column;
}

.tweet__username {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.tweet__username span,
.tweet__message span {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  color: rgba(0, 0, 0);
  font-weight: 600;
}

.tweet__username input {
  width: 35%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  white-space: normal;
}

.tweet__username input:focus {
  outline: none;
}

.tweet__message {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.tweet__message textarea {
  height: 80px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  white-space: normal;
}

.tweet__message textarea:focus {
  outline: none;
}

.tweet__btn {
  font-size: 17px;
  color: white;
  padding: 5px;
  background-color: #ff7171;
  border: none;
  border-radius: 5px;
  width: 100px;
  font-weight: 600;
  font-family: FontAwesome;
  transition: all 1.5s linear;
  cursor: pointer;
}

.tweet__btn:hover {
  background-color: black;
  color: white;
  outline: none;
}

.tweet__btn:active,
:focus {
  outline: none;
}

@keyframes splashImg {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.splash-img {
  position: absolute;
  background-color: #3f3f44;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: splashImg 0.3s ease-in-out forwards;
  animation-delay: 2s;
}

@keyframes translateImg {
  from {
    transform: translateX(0px) translateY(0px);
  }
  to {
    transform: translateX(600%) translateY(-400%);
  }
}

@keyframes transparentImg {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.splash-img img {
  width: 8%;
  animation: translateImg 1s linear forwards, transparentImg 1s linear forwards;
  animation-delay: 1s;
}
